* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    color: #000;
    background-color: #FFF;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d6fbf;
}

.navbar nav {
    float: left;
}

.navbar nav .navItem {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar nav .navItem:hover {
    background-color:#2f5591;
}

.image img{
    max-height: 700px;
}

.heading {
    border-radius: 7px;
    margin: 3px auto;
    width: 90%;
    text-align: center;
    padding: 14px 16px;
    background-color:#3d6fbf;
    color: #FFF;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

.form {
    border-radius: 7px;
    text-align: center;
    padding: 20px 40px;
    width: 50%;
    margin: 20px auto;
    border: 2px solid #3d6fbf;;
}



 .inputType {
     padding: 7px;
     /* height: 25px; */
    width: 250px;
    border: 2px solid;
    color: #3d6fbf;;
    border-radius: 15px;
    margin-bottom: 20px;
}

.inputTextType {
    
    width: 250px;
    border-radius: 15px;
    border: 2px solid #3d6fbf;;
}

.radioType {
    display: inline-block;
}

.submitButton {
    background-color: #3d6fbf;;
    width: 100px;
    color: white;
    height: 30px;
    border: none;
    border-radius: 45px;
}

.labels{
    text-align: start;
    display: inline-block;
    width: 200px;
}

.pricingBorder {
    text-align: center;
    padding: 20px 40px;
    width: 80%;
    margin: 20px auto;
}

.bo {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    width: 30%;
    margin: 20px auto;
    border: 2px solid #3d6fbf;
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px black;
}
.bo:nth-child(even){
    margin-left: 12px;
    margin-right: 12px;
}

.circle {
    background-color:transparent;
    border: 1px solid #3d6fbf;;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  } 
  .options{
      text-align: start;
      width: 270px;
      display: inline-block;
  }


  

